
@{
    ViewData["Title"] = "VerifyEmail";
}



<div class="container">
    <div class="alert alert-success" role="alert">
        Please check your email for register confirmation !
    </div>
</div>

